/*

!/Sublemon
/Sublemon/*/.generated*
/Sublemon/Disco.sublime-color-scheme

!/User
/User/Disco.sublime-theme
/User/Package Control.last-run
/User/Package Control.cache
/User/Package Control.*bundle
/User/*.crt

!/Default

.DS_Store
*.swp

.mypy_cache
__pycache__
