/*

!/Sublemon
/Sublemon/*/.generated*
/Sublemon/*/__pycache__
/Sublemon/Disco.sublime-color-scheme

!/User
/User/Package Control.last-run
/User/Package Control.cache
/User/Package Control.*bundle
/User/*.crt

!/Default

.DS_Store
